body {
    background-color: #ffffff;
    font-family: Montserrat;
}
div {
  background-image: url("image/background.png");
  background-position: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;
    width: 1200px;
    margin-left: 0px;
    margin-right: 0px;
}
.main-title {
        font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    color: #515076;
    text-align: center;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 200px;
}
.card {
    width: 300px;
    height: 550px;
    background-color: #ececf3;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 20px;
      gap: 20px;
      border-radius: 5px;
      margin: 20px;

}
.main-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #515076;
    width: fit-content;
    padding: 0;
    list-style-position: inside;
}
ul {
  list-style-type: circle;
}
.skin-type {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9
}
.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #515076
}
.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #515076;
    padding: 0;
}
.price-tag {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #515076;
    margin-left: 160px;
    padding: 0px;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal;
}